@import url(./vendor/fonts/inter.css);

.page {
  max-width: 100%;
  margin: 0 auto;
  background-color: #000000;
  font-family: "Inter", Arial, sans-serif;
  color: #000000;
  box-sizing: border-box;
}

.header {
    width: 100%;
    margin: 0 auto 0;
    padding: 45px 0 0;
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 0;
    padding: 0;
    max-width: 880px;
    width: 100%;
}

.profile {
    max-width: 880px;
    width: 100%;
    margin: 0 auto 0;
    padding: 40px 0 0;
    color: #ffffff;
}

.profile__group {
    display: grid;
    grid-template-columns: 120px 30px 373px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "image . info . ."
        "image . info edit button"
        "image . info . button"
        "image . info . button";
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    grid-column: 1;
    grid-area: image;
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: info;
}

.profile__name {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

.profile__description {
    margin: 0;
    padding: 16px 0 0 0;;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.edit-button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: none;
    grid-area: edit;
}

.add-button {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    background-color: #000000;
    border: none;
    grid-area: button;
    justify-self: flex-end;
}

.elements {
    width: 880px;
    margin: 50px auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 21px 17px;
}

.element {
    margin: 0;
    padding: 0;
    width: 282px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.element__card {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.element__image {
    margin: 0;
    padding: 0;
    width: 282px;
    height: 282px;
    object-fit: cover;
    object-position: top;
}


.element__title {
    width: 246px;
    margin: 0;
    padding: 25px 0 31px 21px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.like-button {
    margin: 0;
    padding: 25px 18px 31px 0;
    background-color: #ffffff;
    border: none;
}

.popup-form {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-form__container {
    width: 430px;
    height: 330px;
    background-color: #ffffff;
    border-radius: 10px;
}

.close-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;

}

.popup-form__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    display: flex;
    justify-content: center;
}

.popup-form__input-container {
}

.submit-button {
    border: none;
    background-color: #ffffff;
}


.footer {
    margin: 67px auto 0;
    padding: 0 0 60px;
    width: 880px;
    color: #545454;
}

.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}