@import url(./vendor/fonts/inter.css);

.page {
  max-width: 100%;
  margin: 0 auto;
  background-color: #000000;
  font-family: "Inter", Arial, sans-serif;
  color: #000000;
  box-sizing: border-box;
}

.header {
    width: 100%;
    margin: 0 auto 0;
    padding: 45px 0 0;
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 0;
    padding: 0;
    width: 880px;
}

.profile {
    margin: 0 auto 0;
    padding: 40px 0 0;
    display: grid;
    grid-template-columns: repeat(1fr);
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}