.submit-button_type_create {
    background-image: url(../../../images/Create-Button.svg);
    background-position: center;
    background-size: 385px 50px;
}

@media screen and (max-width: 580px) {
    .submit-button_type_create {
        background-image: url(../../../images/Create-Button-mobile.svg);
        background-size: 238px 46px;
    }
}