.header__logo {
    margin: 0;
    padding: 0;
    max-width: 880px;
    width: 100%;
  }
  
  @media screen and (max-width: 880px) {
    .header__logo {
      max-width: 581px;
    }
  }
  
  @media screen and (max-width: 580px) {
    .header__logo {
      max-width: 320px;
      content: url(../../../images/logo-mobile.svg);
    }
  }